.PreA{
    text-align: right;
    font-style: italic;
    font-size: 18;
    font-family: initial;
}
.PreB{
    font-style: italic;
    font-size: 18;
    font-family: inherit;
}


.container{
    margin: auto;
     width: 60%;
     border: none;
     padding: 20px;
     font-weight: 500;
}